*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #EEF5FA;
  font-family: Ubuntu-Medium, sans-serif; }

.section {
  width: 100%;
  padding: 60px 0; }
  .section__title {
    font-size: 42px;
    font-family: Montserrat-Bold, sans-serif;
    color: #333333;
    margin-bottom: 18px;
    margin-top: 100px; }
  .section__text {
    font-size: 16px;
    color: #4C4C4C;
    width: 100%;
    max-width: 500px;
    margin-bottom: 42px; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1216px;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: nowrap; }

.slick-dots li {
  display: inline-block;
  width: 20px;
  height: 20px; }
  .slick-dots li button {
    padding: 5px;
    width: 20px;
    height: 20px; }
    .slick-dots li button:before {
      position: static;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: black; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg"), url("../fonts/Ubuntu-Regular/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg"), url("../fonts/Ubuntu-Medium/Ubuntu-Medium.ttf") format("truetype"), url("../fonts/Ubuntu-Medium/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium/Ubuntu-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.header {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  top: 0; }
  .header .container {
    padding: 24px 0; }
  .header-nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between; }
    .header-nav .logo {
      display: -webkit-box;
      display: flex; }
    .header-nav .social {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: start;
      align-items: flex-start;
      margin-right: 23px;
      font-family: Ubuntu-Regular, sans-serif;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px; }
      .header-nav .social a {
        text-decoration: none;
        cursor: pointer; }
      .header-nav .social-vk {
        display: -webkit-box;
        display: flex;
        position: relative;
        color: #436EAB;
        padding-right: 13px;
        -webkit-box-align: center;
        align-items: center;
        width: 121px;
        height: 40px; }
        .header-nav .social-vk::before {
          content: '';
          position: absolute;
          background: url("../img/header/vk.svg") no-repeat center;
          width: 100%;
          max-width: 30px;
          height: 16.67px;
          left: -37px; }
        .header-nav .social-vk a {
          color: #436EAB; }
      .header-nav .social-telegram {
        display: -webkit-box;
        display: flex;
        position: relative;
        background: #039BE5;
        border-radius: 20px;
        width: 193px;
        height: 40px;
        text-align: center;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 55px; }
        .header-nav .social-telegram::before {
          content: '';
          position: absolute;
          background: url("../img/header/telegram.svg");
          width: 19px;
          height: 15.69px;
          left: 25px; }
        .header-nav .social-telegram span {
          color: #fff; }

.hero {
  position: relative;
  min-height: 937.42px;
  background: url("../img/hero.bg.png") no-repeat center bottom/cover; }
  .hero__title {
    padding-top: 213px;
    font-size: 72px;
    font-family: Montserrat-Bold, san-serif;
    color: #333333;
    line-height: 68.6px;
    margin-top: 0; }
    .hero__title span {
      font-size: 54px; }
  .hero__text {
    margin-top: -48px;
    margin-left: 10px;
    font-size: 16px;
    color: #181818; }
  .hero .button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #181818;
    background: #FFD200;
    border-radius: 29.5px;
    outline: none;
    width: 100%;
    max-width: 246px;
    height: 59px;
    margin-top: 45px;
    margin-left: 7px;
    cursor: pointer;
    border: none; }

.descrip-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .descrip-card__item {
    width: 100%;
    max-width: 270px;
    height: 270px;
    margin: 0 auto;
    padding: 24px 23px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(149, 192, 255, 0.2); }
    .descrip-card__item p {
      font-size: 22px; }

.descrip .section__title {
  margin-top: 45px;
  margin-bottom: 32px; }

.direc {
  margin-top: 106px; }
  .direc .section__title {
    position: relative; }
    .direc .section__title::after {
      display: block;
      position: absolute;
      content: '';
      background: url("../img/direc/direc-img.png");
      width: 100%;
      max-width: 1237px;
      height: 122px;
      left: -91px;
      top: 61px; }
  .direc-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 117px; }
    .direc-card__item {
      width: 100%;
      max-width: 250px; }
      .direc-card__item:nth-child(even) {
        margin-top: 30px; }
      .direc-card__item .title {
        position: relative;
        font-size: 60px;
        color: #333333;
        font-family: Montserrat-Bold, serif; }
        .direc-card__item .title::before {
          display: inline-block;
          position: absolute;
          content: '';
          border-radius: 50%;
          vertical-align: middle;
          background: #FFFFFF;
          border: 5px solid #FFD200;
          width: 100%;
          max-width: 47px;
          height: 47px;
          top: -76px; }
        .direc-card__item .title::after {
          display: block;
          position: absolute;
          content: '';
          border-radius: 50%;
          background: #FFD200;
          width: 100%;
          max-width: 17px;
          height: 17px;
          top: -62px;
          left: 15px; }
      .direc-card__item .text {
        text-align: left;
        margin-top: 18px;
        font-size: 22px;
        color: #181818;
        font-family: Ubuntu-Medium, serif; }
      .direc-card__item .button {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #181818;
        background: #FFD200;
        border-radius: 29.5px;
        outline: none;
        width: 100%;
        max-width: 246px;
        height: 59px;
        margin-top: 38px;
        margin-bottom: 90px;
        cursor: pointer;
        border: none; }

.program .section__title {
  margin-top: 126px; }

.program-card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 72px auto 0;
  flex-wrap: wrap; }
  .program-card__item {
    padding-bottom: 42px; }
    .program-card__item-inner {
      border-radius: 8px;
      overflow: hidden; }
    .program-card__item img {
      width: 100%; }
    .program-card__item span {
      position: absolute;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      font-size: 24px;
      -webkit-box-align: center;
      align-items: center;
      text-align: center;
      margin-top: -100px;
      margin-left: 20px;
      background: #B2CFF5;
      border-radius: 29.5px;
      height: 59px;
      padding: 0 32px;
      z-index: 1; }
  .program-card__text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    max-width: 270px;
    height: 315px;
    padding: 0 23px;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(149, 192, 255, 0.2);
    border-radius: 8px;
    font-family: Ubuntu-Medium,serif; }
    .program-card__text .title {
      margin-top: 31px;
      font-size: 24px; }
    .program-card__text p {
      font-size: 16px;
      color: #4C4C4C; }
    .program-card__text .button {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      color: #181818;
      background: #FFD200;
      border-radius: 29.5px;
      outline: none;
      width: 100%;
      max-width: 246px;
      height: 59px;
      margin-top: 9px;
      cursor: pointer;
      border: none; }

.skills {
  display: block;
  position: relative;
  margin-top: 129px; }
  .skills-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 auto;
    height: 300px;
    width: calc(100% - 30px); }
    .skills-slide__img {
      height: 110px;
      margin-bottom: 20px; }
    .skills-slide__title {
      font-size: 22px;
      color: #181818;
      margin-top: 10px; }
    .skills-slide__text {
      font-size: 16px;
      color: #4C4C4C;
      margin-top: 19px;
      width: 100%;
      max-width: 264px; }
  .skills .slide {
    -webkit-box-align: center;
    align-items: center; }
    .skills .slide-card {
      width: 100%;
      max-width: 270px;
      padding: 25px 10px 0; }
  .skills .slick-list {
    margin: 0 auto; }
  .skills .slick-prev {
    position: absolute;
    display: block;
    content: '';
    background-color: #B2CFF5;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    left: -98px;
    top: 178px;
    z-index: 1; }
    .skills .slick-prev::before {
      position: absolute;
      display: block;
      content: '';
      font-size: 0;
      width: 12px;
      height: 20px;
      background: url(../img/skills/btn__left.png) no-repeat;
      z-index: 99;
      top: 18px;
      left: 19px; }
  .skills .slick-next {
    position: absolute;
    display: block;
    content: '';
    background-color: #B2CFF5;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    top: 178px;
    right: -44px; }
    .skills .slick-next::before {
      position: absolute;
      display: block;
      content: '';
      width: 12px;
      height: 20px;
      background: url(../img/skills/btn__right.png) no-repeat;
      z-index: 99;
      top: 19px;
      left: 25px; }

.mentors .section__text {
  font-size: 16px;
  color: #4C4C4C;
  width: 100%;
  max-width: 470px;
  margin-top: -7px;
  margin-bottom: 42px; }

.mentors-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .mentors-card .title {
    font-size: 22px;
    color: #181818;
    width: 100%;
    max-width: 136px;
    margin-top: 15px; }
  .mentors-card .text {
    font-size: 16px;
    color: #4C4C4C;
    width: 100%;
    max-width: 125px; }

.news {
  background: url(../img/news/news__bg.png) no-repeat;
  min-height: 687px;
  background-position: calc(50% + 232px) 28%; }
  .news .section__title {
    padding-top: 108px;
    margin-bottom: 25px; }
  .news .section__text {
    margin-top: 33px;
    margin-bottom: 29px; }
  .news__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    max-width: 361px; }
  .news input {
    border: 3px solid #B1D3FD;
    border-radius: 29.5px;
    height: 59px;
    margin-bottom: 12px;
    outline: none;
    padding-left: 26px;
    font-size: 16px; }
  .news .button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #181818;
    background: #FFD200;
    border-radius: 29.5px;
    outline: none;
    width: 100%;
    max-width: 216px;
    height: 59px;
    cursor: pointer;
    border: none; }

.bonus .section__title {
  margin-top: 200px; }

.bonus .section__text {
  width: 100%;
  max-width: 651px; }

.bonus-card {
  display: block;
  margin: 0 auto;
  width: calc(100% - 30px);
  height: 365px;
  background: #fff;
  padding: 17px 50px 34px;
  box-shadow: 0px 10px 30px rgba(149, 192, 255, 0.2);
  border-radius: 8px; }

.bonus-slide {
  text-align: center; }
  .bonus-slide__img {
    height: 170px;
    width: 170px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 12px; }
  .bonus-slide__title {
    font-size: 22px;
    margin-bottom: 20px; }
  .bonus-slide__text {
    font-size: 16px;
    color: #4C4C4C; }

.bonus .slick-list {
  margin: 0 auto; }

.bonus .slick-prev {
  position: absolute;
  display: block;
  background-color: #B2CFF5;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  left: -75px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 99; }
  .bonus .slick-prev::before {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 20px;
    background: url(../img/skills/btn__left.png) no-repeat;
    top: 17px;
    right: 25px; }

.bonus .slick-next {
  display: block;
  content: '';
  background-color: #B2CFF5;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: -67px; }
  .bonus .slick-next::before {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 20px;
    background: url(../img/skills/btn__right.png) no-repeat;
    z-index: 99;
    top: 18px;
    right: 19px; }

.regis {
  display: block;
  margin-bottom: 158px; }
  .regis-card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between; }
    .regis-card:before {
      position: absolute;
      display: block;
      content: '';
      background: url(../img/regis/regis-vector__img.png) no-repeat;
      max-width: 1072px;
      width: 100%;
      height: 331px;
      top: -192px;
      right: 90px; }
    .regis-card__item {
      position: relative;
      margin-top: 151px;
      height: 38px;
      width: 100%;
      max-width: 198px;
      color: #4C4C4C; }
      .regis-card__item:nth-child(2) {
        bottom: 20px;
        left: 8px; }
      .regis-card__item:nth-child(3) {
        bottom: 51px;
        left: 37px; }
      .regis-card__item:nth-child(4) {
        bottom: 107px;
        left: 33px; }
      .regis-card__item:nth-child(5) {
        bottom: 175px;
        left: 38px; }
      .regis-card__item:nth-child(6) {
        bottom: 273px;
        left: 19px; }
      .regis-card__item::before {
        display: inline-block;
        position: absolute;
        content: '';
        border-radius: 50%;
        vertical-align: middle;
        background: #FFFFFF;
        border: 5px solid #FFD200;
        width: 100%;
        max-width: 47px;
        height: 47px;
        top: -61px; }
      .regis-card__item::after {
        display: block;
        position: absolute;
        content: '';
        border-radius: 50%;
        background: #FFD200;
        width: 100%;
        max-width: 17px;
        height: 17px;
        top: -46px;
        left: 15px; }
  .regis .wrapper {
    display: -webkit-box;
    display: flex; }
    .regis .wrapper .button {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      color: #181818;
      background: #FFD200;
      border-radius: 29.5px;
      outline: none;
      width: 100%;
      max-width: 272px;
      height: 59px;
      cursor: pointer;
      border: none; }
    .regis .wrapper .text__mobile {
      display: none; }

.footer {
  display: block;
  margin-bottom: 183px; }
  .footer__title {
    text-align: center;
    font-size: 42px;
    color: #333333;
    font-family: 'Montserrat-Bold', serif; }
  .footer__text {
    text-align: center;
    width: 100%;
    max-width: 569px;
    margin: auto;
    margin-top: -11px;
    margin-bottom: 44px;
    color: #4C4C4C; }
  .footer-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    max-width: 970px;
    margin: auto; }
    .footer-content__item {
      width: 100%;
      max-width: 380px; }
      .footer-content__item .card {
        display: -webkit-box;
        display: flex;
        width: 100%;
        max-width: 218px; }
      .footer-content__item .title {
        font-size: 22px;
        margin-bottom: 10px; }
      .footer-content__item .text {
        font-size: 16px;
        color: #294F66;
        width: 100%;
        max-width: 150px;
        margin-left: 13px;
        margin-top: 13px; }
      .footer-content__item .card-row {
        display: -webkit-box;
        display: flex; }
        .footer-content__item .card-row .card:nth-child(2) {
          margin-left: 25px; }

@media only screen and (max-width: 1352px) {
  .descrip-card {
    flex-wrap: wrap; }
    .descrip-card__item {
      width: 100%;
      max-width: 230px;
      height: 230px; }
      .descrip-card__item p {
        font-size: 18px; }
  .direc .section__title::after {
    width: 100%;
    max-width: 1137px; }
  .direc-card__item {
    width: 100%;
    max-width: 220px;
    margin: 0 auto; }
    .direc-card__item .title {
      font-size: 56px; }
    .direc-card__item .text {
      font-size: 18px; }
  .program-title {
    margin-top: 27px; }
  .program-card {
    -webkit-box-pack: center;
    justify-content: center; }
    .program-card__item {
      margin-right: 20px; }
  .skills .slick-list {
    width: 100%;
    max-width: 900px; }
  .skills .slick-prev {
    left: -5px; }
  .skills .slick-next {
    right: 51px; }
  .mentors .slick-dots {
    bottom: -78px; }
  .bonus .slick-list {
    width: 100%;
    max-width: 900px; }
  .bonus .slick-prev {
    left: 9px; }
  .bonus .slick-next {
    right: 9px; } }

@media only screen and (max-width: 1080px) {
  .direc .section__title::after {
    display: none; }
  .skills .slick-dots {
    bottom: -70px; }
  .regis-card {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 56px auto 0; }
    .regis-card::before {
      display: none; }
    .regis-card__item {
      min-width: 200px;
      width: 100%;
      height: 100px;
      margin-top: 42px; }
      .regis-card__item:nth-child(odd) {
        bottom: 0;
        left: 0; }
      .regis-card__item:nth-child(even) {
        bottom: 0;
        left: 0; } }

@media only screen and (max-width: 991px) {
  .section__title {
    max-width: 500px;
    margin: 0 auto; }
  .section__text {
    font-size: 18px;
    margin: 30px auto; }
  .hero {
    background-size: auto;
    background-position: calc(46% + 20%) bottom;
    background: url("../img/hero.bg.png") #c8dcf3 no-repeat center bottom/cover; }
    .hero__title {
      padding-top: 124px; }
  .descrip-card {
    width: 100%;
    max-width: 7 00px;
    margin: auto; }
    .descrip-card__item {
      width: 100%;
      max-width: 270px;
      height: 270px;
      margin-top: 15px; }
      .descrip-card__item p {
        font-size: 22px; }
  .direc-card {
    display: -webkit-box;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    flex-wrap: wrap; }
    .direc-card__item:nth-child(even) {
      margin-top: 0; }
    .direc-card__item .title::before {
      top: 7px;
      left: -70px; }
    .direc-card__item .title::after {
      top: 22px;
      left: -55px; }
    .direc-card__item .button {
      margin: 40px 0; }
  .program-card__item-inner {
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
    height: 255px; }
  .program-card__item img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .program-card__item span {
    margin-top: -51px;
    font-size: 16px;
    height: 46px;
    max-width: 170px; }
  .program-card__text {
    max-width: 220px; }
  .program .section__title {
    margin-top: 40px; }
  .program .slick-list {
    max-height: 400px; }
  .skills .section__title {
    margin-bottom: 35px; }
  .skills .slick-dots li button:before {
    font-size: 22px; }
  .skills .slick-track {
    margin-left: 20px; }
  .mentors .container {
    padding-top: 100px; }
    .mentors .container .section__text {
      margin-top: 33px; }
  .news {
    background-position: center bottom;
    background-size: 800px auto;
    padding-bottom: 600px; }
    .news__form {
      max-width: 500px;
      margin: 0 auto; }
  .bonus .section__title {
    margin-top: 0; }
  .bonus .section__text {
    margin-bottom: 30px; }
  .bonus-slide__img {
    margin: 0 auto 15px;
    height: 150px;
    width: 150px;
    -o-object-fit: contain;
    object-fit: contain; }
  .bonus-card {
    width: 100%;
    max-width: 270px;
    margin: 50px 15px;
    padding: 17px 15px 34px; }
  .bonus .slick-slide {
    padding: 0 15px; }
  .bonus img {
    display: block;
    max-width: 100%;
    max-height: 150px;
    margin: 0 auto; }
  .regis .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .regis .container .section__title {
      margin-top: 40px; }
  .regis-card {
    width: 100%;
    max-width: 500px; }
  .regis .button {
    margin: 0 auto; }
  .regis .wrapper {
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .regis .slick-dots {
    bottom: -59px; }
  .footer__title {
    margin: 0 auto;
    margin-bottom: 30px; }
  .footer-content {
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .footer-content__item .card-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; }
      .footer-content__item .card-row .card:nth-child(2) {
        margin-top: 21px;
        margin-left: 0; } }

@media only screen and (max-width: 768px) {
  .header .logo img {
    width: 100%;
    max-width: 48px;
    height: 52px;
    margin-left: 15px; }
  .header .social-vk {
    background: url("../img/header/vk__mobile.png") no-repeat center;
    width: 37px;
    height: 37px;
    padding-left: 55px;
    padding-right: 0; }
    .header .social-vk::before {
      display: none; }
    .header .social-vk span {
      display: none; }
  .header .social-telegram {
    width: 37px;
    height: 37px;
    background: url("../img/header/telegram__mobile.png") no-repeat center;
    padding-left: 40px; }
    .header .social-telegram::before {
      display: none; }
    .header .social-telegram span {
      display: none; }
  .hero {
    background: url("../img/bg_mobile.png") no-repeat center bottom;
    min-height: 0;
    background-size: 100% auto;
    padding-bottom: 82%; }
    .hero__title {
      padding-top: 154px;
      line-height: 1;
      font-size: 36px;
      margin-bottom: 11px; }
      .hero__title span {
        font-size: 24px; }
    .hero__text {
      margin-top: 0;
      margin-left: 0;
      font-size: 14px;
      font-family: Ubuntu-Regular;
      width: 100%;
      max-width: 500px; }
    .hero .button {
      font-size: 10px;
      width: 100%;
      max-width: 154px;
      height: 37px;
      margin-top: 16px;
      margin-left: 0; }
  .section__title {
    font-size: 24px; }
  .section__text {
    font-size: 12px; }
  .direc .section__title {
    position: relative; }
  .direc-card {
    position: relative;
    padding-top: 40px;
    margin: 0 auto;
    display: block; }
    .direc-card::before {
      position: absolute;
      content: '';
      background: url("../img/direc/direc__mobile-img.png") no-repeat;
      width: 320px;
      height: 735px;
      left: -14px;
      top: 29px; }
    .direc-card__item {
      width: 100%;
      max-width: 165px;
      height: 170px;
      margin-left: 65px;
      padding-top: 0; }
      .direc-card__item:nth-child(2) {
        margin-top: 30px; }
      .direc-card__item .title {
        font-size: 50px; }
        .direc-card__item .title::before {
          width: 100%;
          max-width: 35px;
          height: 35px;
          top: 10px;
          left: -63px; }
        .direc-card__item .title::after {
          width: 100%;
          max-width: 12.66px;
          height: 12.66px;
          top: 21px;
          left: -52px; }
      .direc-card__item .text {
        font-size: 16px; }
      .direc-card__item .button {
        font-size: 10px;
        width: 100%;
        max-width: 154px;
        height: 37px;
        margin-top: 20px; }
  .program-card__text {
    max-width: 200px;
    height: 255px; }
    .program-card__text .title {
      font-size: 18px; }
    .program-card__text p {
      font-size: 14px; }
    .program-card__text .button {
      margin: 0 auto;
      font-size: 10px;
      width: 100%;
      max-width: 154px;
      height: 37px;
      margin-top: 30px; }
  .program .slick-dots {
    bottom: -15px; }
  .program .slick-track, .program .slick-list {
    height: 300px; }
  .descrip-card__item {
    width: 100%;
    max-width: 200px;
    height: 190px; }
    .descrip-card__item p {
      font-size: 16px;
      margin-top: 7px; }
    .descrip-card__item img {
      width: 73px;
      height: 73px; }
  .skills-slide__title {
    font-size: 16px; }
  .skills-slide__text {
    width: 100%;
    max-width: 200px;
    font-size: 12px; }
  .skills-slide__img {
    width: 90px;
    height: 80px;
    margin-bottom: 0; }
  .skills-slide img {
    width: 90px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain; }
  .skills .slide {
    display: -webkit-box;
    display: flex; }
    .skills .slide-card {
      max-width: 350px;
      width: 100%; }
  .skills .slick-prev {
    width: 40px;
    height: 40px;
    top: 50%; }
    .skills .slick-prev::before {
      top: 10px;
      left: 12px; }
  .skills .slick-next {
    width: 40px;
    height: 40px;
    right: -27px;
    top: 50%; }
    .skills .slick-next::before {
      top: 10px;
      left: 16px; }
  .skills .slick-track {
    margin: 0 auto; }
  .skills .slick-dots {
    bottom: -3px; }
  .mentors-card__item-inner {
    max-width: 150px;
    margin: 0 auto;
    padding: 0 8px 0; }
    .mentors-card__item-inner img {
      width: 100%; }
    .mentors-card__item-inner .title {
      font-size: 16px; }
    .mentors-card__item-inner .text {
      font-size: 12px; }
  .mentors .slick-dots {
    bottom: -32px; }
  .mentors .slick-slider {
    width: calc(100% + 16px);
    margin: 0 -8px; }
  .news .section__text span {
    margin-top: 10px; }
  .news input {
    font-size: 12px;
    width: 100%;
    max-width: 289px;
    height: 44px; }
  .news .button {
    font-size: 10px;
    width: 100%;
    max-width: 154px;
    height: 37px; }
  .bonus-card {
    min-height: 270px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    margin: 0 auto; }
  .bonus-slide__img {
    margin: 0 auto 15px;
    height: 125px;
    width: 125px;
    -o-object-fit: contain;
    object-fit: contain; }
  .bonus-slide__title {
    font-size: 16px; }
  .bonus-slide__text {
    font-size: 12px; }
  .bonus .slick-next {
    right: 0;
    width: 40px;
    height: 40px; }
    .bonus .slick-next::before {
      top: 11px;
      left: 14px; }
  .bonus .slick-prev {
    left: 0;
    width: 40px;
    height: 40px; }
    .bonus .slick-prev::before {
      top: 11px;
      left: 11px; }
  .regis {
    margin-top: 100px; }
    .regis .wrapper {
      margin-top: 32px;
      height: 37px; }
      .regis .wrapper .button {
        font-size: 10px;
        width: 170px;
        height: 37px; }
  .footer__title {
    font-size: 24px; }
  .footer__text {
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px; }
  .footer-content__item .title {
    font-size: 12px;
    margin-top: 26px; }
  .footer-content__item .text {
    font-size: 12px; }
  .footer-content__item:nth-child(2) img {
    max-width: 170px;
    height: 60px; }
  .footer-content__item img {
    max-width: 57px;
    width: 100%; } }

@media only screen and (max-width: 580px) {
  .hero__title {
    padding-top: 107px; }
  .skills-slide {
    margin: 0 auto; }
    .skills-slide__img {
      margin: 0 auto; }
    .skills-slide__title {
      text-align: center; }
    .skills-slide__text {
      text-align: center; }
  .skills .slide-card {
    width: 100%;
    max-width: 200px;
    margin: 0 auto; }
  .skills .slick-next {
    right: -14px; }
  .program .slick-dots {
    bottom: -17px; } }

@media only screen and (max-width: 480px) {
  .news {
    background: url("../img/news/news__mobile__bg.png") no-repeat;
    background-position: 44px bottom;
    padding-bottom: 385px; }
    .news .button {
      width: 100%;
      max-width: 126px; } }

@media only screen and (max-width: 430px) {
  .regis-card {
    position: relative; }
    .regis-card::before {
      display: block;
      content: '';
      position: absolute;
      background: url("../img/regis/regis__mobile__vector.png") no-repeat;
      width: 100px;
      min-height: 340px;
      top: 5px;
      left: 4px; }
    .regis-card__item {
      height: 60px;
      margin-left: 54px;
      margin-top: 4px; }
      .regis-card__item::before {
        top: 0px;
        left: -56px;
        width: 35px;
        height: 35px; }
      .regis-card__item::after {
        top: 11.5px;
        left: -44.7px;
        width: 12.66px;
        height: 12.66px; }
  .regis .wrapper .button {
    margin-right: 5px;
    margin-left: 0; }
  .regis .wrapper .text__mobile {
    display: block;
    font-size: 12px;
    width: 117px;
    height: 28px;
    margin-right: 36px;
    margin-top: 0;
    margin-bottom: 29px; }
  .regis span {
    display: none; } }

@media only screen and (max-width: 320px) {
  .skills .slick-next {
    right: -22px; }
  .regis .wrapper .text__mobile {
    margin-right: -12px; } }
