@media only screen and (max-width : 1352px) {
    .descrip {
        &-card {
            flex-wrap: wrap;
            &__item {
                width: 100%;
                max-width: 230px;
                height: 230px;
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .direc {
        .section__title {
            &::after {
                width: 100%;
                max-width: 1137px;
            }
        }
        &-card {
            &__item {
                width: 100%;
                max-width: 220px;
                .title {
                    font-size: 56px;
                }
                .text {
                    font-size: 18px;
                }
            }
        }
    }
    .program {
        &-card {
            justify-content: center;
            &__item {
                margin-right: 20px;
            }
        }
    }
    .skills {
        &-card {
           
        }
        .slick {
            &-list {
                width: 100%;
                max-width: 900px;
            }
            &-prev {
                left: -5px;
            }
            &-next {
                right: 51px;
            }
        }

    }
    .mentors {
        &-card {
            flex-wrap: wrap;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            .text {
                margin-bottom: 20px;
            }
        }
    }
    .news {
       
    }
    .bonus {
        .slick {
            &-list {
                width: 100%;
                max-width: 900px;
            }
            &-prev {
                left: 9px;
            }
            &-next {
                right: 9px;
            }
        }
    }
}
@media only screen and (max-width : 1080px) {
    .direc {
        .section__title {
            &::after {
                display: none;
            }
        }
    }
}
@media only screen and (max-width : 991px) {
    .section {
        &__title {
            max-width: 500px;
            margin: 0 auto;
        }
        &__text {
            font-size: 18px;
            margin: 30px auto;
        }
    }
    .hero {
       background-size: auto;
       background-position: calc(46% + 20%) bottom;
       &__title {
           padding-top: 76px;
       }
    }
    .descrip {
        &-card {
            width: 100%;
            max-width: 780px;
            margin: auto;
            &__item {
                width: 100%;
                max-width: 270px;
                height: 270px;
                margin-top: 15px;
                p {
                    font-size: 22px;
                }
            }
        }
    }
    .direc {
        &-card {
            display: flex;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 30px;
            flex-wrap: wrap;
            &__item {
                &:nth-child(even) {
                    margin-top: 0;
                }
                .title {
                    &::before {
                        top: 7px;
                        left: -70px;
                    }
                    &::after {
                        top: 22px;
                        left: -55px;
                    }
                }
            }
        }
        .button {
            margin-left: 20px;
        }
    }
    .program {
        .section__title {
            margin-top: 40px;
        }
    }
    .skills {
        .section__title {
            margin-bottom: 35px;
        }
        .slick {
            &-dots li button:before {
                font-size: 22px;
            }
            &-track {
                margin-left: 20px;
            }
        }
           
    }
    .mentors {
        .container {
            padding-top: 100px;
            .section {
                &__text {
                    margin-top: 33px;
                }
            }
        }
    }
    .news {
        background-position: center bottom;
        background-size: 800px auto;
        padding-bottom: 600px;
        
        &__form {
            max-width: 500px;
            margin: 0 auto;
        }
    }
    .bonus {
        .section__title {
            margin-top: 0;
        }
        &-card {
            width: calc(100% - 90px);
            margin-top: 50px;
        }
    }
}
@media only screen and (max-width : 768px) {
    .header {
       .logo {
            img {
                width: 100%;
                max-width: 48px;
                height: 52px;
                margin-left: 15px;
            }
       } 
        .social {
            &-vk {
                background: url('../img/header/vk__mobile.png') no-repeat center;
                width: 100%;
                max-width: 37px;
                height: 37px;
                padding-left: 55px;
                padding-right: 0;
                &::before {
                    // background: url('../img/header/vk__mobile.png') no-repeat center;
                    // width: 100%;
                    // max-width: 37px;
                    // height: 37px;
                    display: none;
                }
                span {
                   display: none;
                }
            }
            &-telegram {
                width: 100%;
                max-width: 37px;
                height: 37px;
                background: url('../img/header/telegram__mobile.png') no-repeat center;
                padding-left: 40px;
                &::before {
                    display: none;
                    // background: url('../img/header/telegram__mobile.png');
                    // width: 100%;
                    // max-width: 37px;
                    // height: 37px;
                }
                span {
                    display: none;
                }
            }

        }
    }
    .hero {
        background: url('../img/bg_mobile.png') no-repeat center bottom;
        background-size: 100% auto;
        padding-bottom: 50%;
        &__title {
            padding-top: 154px;
            line-height: 1;
            font-size: 36px;
            margin-bottom: 11px;
            span {
                font-size: 28px;
            }
        }
        &__text {
            margin-top: 0;
            margin-left: 0;
            font-size: 14px;
            width: 100%;
            max-width: 250px;
        }
        .button {
            font-size: 10px;
            width: 100%;
            max-width: 154px;
            height: 37px;
            margin-top: 16px;
            margin-left: 0;
        }
    }
    .section {
        &__title {
            font-size: 24px;
        }
    }
    .bonus {
       &-card {
            width: calc(100% - 123px);
       }
       &-slide {
           &__img {
                max-height: 150px;
           }
       }

        img {

            margin: 15px auto;
            max-width: 130px;
        }
    }
}
@media only screen and (max-width : 480px) {
    .hero {
        &__title {
            // padding-top: ;
        }
    }
}
@media only screen and (max-width : 320px) {
    .hero {
       
        
    }
   
}