*, *:before, *:after {
    box-sizing: border-box
}
body {
    background-color: #EEF5FA;
    font-family: Ubuntu-Medium, sans-serif;
}
.section {
    width: 100%;
    padding: 60px 0;
    &__title {
        font-size: 42px;
        font-family: Montserrat-Bold, sans-serif;
        color: #333333;
        margin-bottom: 20px;
        margin-top: 100px;
    }
    &__text {
        font-size: 16px;
        color: #4C4C4C;
        width: 100%;
        max-width: 500px;
        // margin-top: 40px;
        margin-bottom: 42px;
    }
}
    
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1216px;
    padding: 0 15px;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}