.bonus {
    .section__text {
        width: 100%;
        max-width: 651px;
        margin-bottom: -14px;
    }
    
    &-card {
        display: block;
        margin: 0 auto;
        // width: 100%;
        // max-width: 270px;
        width: calc(100% - 30px);
        height: 365px;
        background: #fff;
        padding: 17px 50px 34px;
        box-shadow: 0px 10px 30px rgba(149, 192, 255, 0.2);
        border-radius: 8px;
    }
    &-slide {
        text-align: center;
        &__img {
            height: 170px;
            margin-bottom: 12px;
        }
        &__title {
            font-size: 22px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 16px;
            color: #4C4C4C;
        }
    }
    .slick {
        &-list {
            margin: 0 auto;
            
        }
        &-prev {
            position: relative;
            display: block;
            background-color: #B2CFF5;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            left: -75px;
            bottom: -232px;
            z-index: 99;
            &::before {
                position: absolute;
                display: block;
                content: '';
                width: 12px;
                height: 20px;
                background: url(../img/skills/btn__left.png) no-repeat;
                // z-index: 99;
                top: 17px;
                right: 25px;
            }
            
                
        }
    
        &-next {
            display: block;
            content: '';
            background-color: #B2CFF5;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            top: 232px;
            right: -67px;
            &::before {
                position: absolute;
                display: block;
                content: '';
                width: 12px;
                height: 20px;
                background: url(../img/skills/btn__right.png) no-repeat;
                z-index: 99;
                top: 18px;
                right: 19px;
            }
            
        }
    }
  
}