.footer {
    display: block;
    // text-align: center;
    margin-bottom: 183px;
    &__title {
        text-align: center;
        font-size: 42px;
        color: #333333;
        font-family: 'Montserrat-Bold', serif;
    }
    &__text {
        text-align: center;
        width: 100%;
        max-width: 569px;
        margin: auto;
        margin-top: -11px;
        margin-bottom: 44px;
        color: #4C4C4C;

    }
    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        max-width: 970px;
        margin: auto;
        &__item {
            width: 100%;
            max-width: 380px;
            .card {
                display: flex;
                width: 100%;
                max-width: 218px;
            }
            .title {
                font-size: 22px;
                margin-bottom: 10px;
            }
            .text {
                font-size: 16px;
                color: #294F66;
                width: 100%;
                max-width: 150px;
                margin-left: 13px;
                margin-top: 13px;
            }
            .card-row {
                display: flex;
                .card {
                    &:nth-child(2) {
                        margin-left: 25px;
                    }
                }
            }
        }
    }
}