.header {
    position: relative;
    display: block;
    z-index: 1;
    top: 0;
    margin-bottom: -188px;
    .container {
        padding: 24px 0;
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        .logo {
            display: flex;
        }
        .social {
            display: flex;
            align-items: flex-start;
            margin-right: 23px;
            font-family: Ubuntu-Regular, sans-serif;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.5px;
            a {
                text-decoration: none; 
                cursor: pointer;

            }
            &-vk {
                display: flex;
                position: relative;
                color: #436EAB;
                padding-right: 13px;
                align-items: center;
                width: 121px;
                height: 40px;
                &::before {
                    content: '';
                    position: absolute;
                    background: url('../img/header/vk.svg') no-repeat center;
                    width: 100%;
                    max-width: 30px;
                    height: 16.67px;
                    left: -37px;
                }
                a {
                    color: #436EAB;
                }
            }
            &-telegram {
                display: flex;
                position: relative;
                background: #039BE5;
                border-radius: 20px;
                width: 193px;
                height: 40px;
                text-align: center;
                // padding-top: 14px;
                align-items: center;
                padding-left: 55px;
                &::before {
                    content: '';
                    position: absolute;
                    background: url('../img/header/telegram.svg');
                    width: 19px;
                    height: 15.69px;
                    left: 25px;
                }
                span {
                    color: #fff;
                }
            }
        }
    }
}
