.hero {
    position: relative;
    min-height: 937.42px;
    background: url('../img/hero.bg.png') no-repeat center bottom / cover;
    &__title {
        padding-top: 213px;
        font-size: 72px;
        font-family: Montserrat-Bold, san-serif;
        color: #333333;
        line-height: 68.6px;
        margin-top: 0;
        span {
            font-size: 54px;

        }
    }
    &__text {
        margin-top: -48px;
        margin-left: 10px;
        font-size: 16px;
        color: #181818;
    }
    .button {
        display: flex;
        align-items: center;
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #181818;
        background: #FFD200;
        border-radius: 29.5px;
        outline: none;
        width: 100%;
        max-width: 246px;
        height: 59px;
        margin-top: 45px;
        margin-left: 7px;
        cursor: pointer;
        border: none;
        span {
            margin: 0 auto;
        }
    }
}