.mentors {
    .section {
        &__title {
            // margin-bottom: 20px;
        }
        &__text {
            font-size: 16px;
            color: #4C4C4C;
            width: 100%;
            max-width: 470px;
            margin-top: -7px;
            margin-bottom: 42px;
        }
    }
    &-card {
        display: flex;
        justify-content: space-between;
        &__item {
            
        }
        .title {
            font-size: 22px;
            color: #181818;
            width: 100%;
            max-width: 136px;
            margin-top: 15px;
        }
        .text {
            font-size: 16px;
            color: #4C4C4C;
            width: 100%;
            max-width: 125px;
        }
    }
}