.news {
    background: url(../img/news/news__bg.png) no-repeat;
    min-height: 687px;
    background-position: calc(50% + 232px)  28%;
    .section {
        &__title {
            padding-top: 108px;       
            margin-bottom: 25px;
        }
        &__text {
            margin-top: 33px;
            margin-bottom: 29px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 361px;
    }
    input {
        border: 3px solid #B1D3FD;
        border-radius: 29.5px;
        height: 59px;
        margin-bottom: 12px;
        outline: none;
        padding-left: 26px;
        font-size: 16px;
    }
    
   
    .button {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #181818;
        background: #FFD200;
        border-radius: 29.5px;
        outline: none;
        width: 100%;
        max-width: 216px;
        height: 59px;
        cursor: pointer;
        border: none;
    }
   
}