.regis {
    display: block;
    margin-bottom: 158px;
    .section__title {
        margin-top: 176px;
    }
    &-card {
        position: relative;
        display: flex;
        justify-content: space-between;
        &:before{
            position: absolute;
            display: block;
            content: '';
            background: url(../img/regis/regis-vector__img.png) no-repeat;
            max-width: 1072px;
            width: 100%;
            height: 331px;
            top: -192px;
            right: 90px;
        }
        &__item {
            position: relative;
            margin-top: 151px;
            height: 38px;
            width: 100%;
            max-width: 198px;
            color: #4C4C4C;
            &:nth-child(2) {
                bottom: 20px;
                left: 8px;
                &::before {
                    top: -52px;
                }
                &::after {
                    top: -37px;
                }
            }
            &:nth-child(3) {
                bottom: 51px;
                left: 37px;
                &::before {
                    top: -57px;
                }
                &::after {
                    top: -42px;
                }
            }
            &:nth-child(4) {
                bottom: 107px;
                left: 33px;
                &::before {
                    top: -52px;
                }
                &::after {
                    top: -37px;
                }
            }
            &:nth-child(5) {
                bottom: 175px;
                left: 38px;
                &::before {
                    top: -57px;
                }
                &::after {
                    top: -42px;
                }
            }
            &:nth-child(6) {
                bottom: 273px;
                left: 19px;
            }
            &::before {
                display: inline-block;
                position: absolute;
                content: '';
                border-radius: 50%;
                vertical-align: middle;
                background: #FFFFFF;
                border: 5px solid #FFD200;
                width: 100%;
                max-width: 47px;
                height: 47px;
                top: -61px;
            }
            &::after {
                display: block;
                position: absolute;
                content: '';
                border-radius: 50%;
                background: #FFD200;
                width: 100%;
                max-width: 17px;
                height: 17px;
                top: -46px;
                left: 15px; 
            }

        }
    } 
    .wrapper {
        display: flex;
        .button {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            color: #181818;
            background: #FFD200;
            border-radius: 29.5px;
            outline: none;
            width: 100%;
            max-width: 272px;
            height: 59px;
            cursor: pointer;
            border: none;
            span {
                display: block;
                margin: 0 auto;
            }
        }
        .text__mobile {
            display: none;
        }
    }
    
}