.skills {
    display: block;
    position: relative;
    margin-top: 129px;
    .section__title {
        margin-bottom: -19px;
    }
    &-slide {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: 300px;
        width: calc(100% - 30px);
       
        &__img {
            
            height: 110px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 22px;
            color: #181818;
            margin-top: 10px;
        }
        &__text {
            font-size: 16px;
            color: #4C4C4C;
            margin-top: 19px;
            width: 100%;
            max-width: 264px;
        }
    }
    .slide {
        align-items: center;
        &-card {
            width: 100%;
            max-width: 270px;
        }
    }
    .slick {
        &-list {
            margin: 0 auto;
        }
        &-prev {
            // position: relative;
            display: block;
            content: '';
            background-color: #B2CFF5;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            left: -98px;
            top: 178px;
            &::before {
                position: absolute;
                display: block;
                content: '';
                font-size: 0;
                width: 12px;
                height: 20px;
                background: url(../img/skills/btn__left.png) no-repeat;
                z-index: 99;
                top: 18px;
                left: 19px;
                
            }
           
          
                
        }
    
        &-next {
            display: block;
            content: '';
            background-color: #B2CFF5;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            top: 178px;
            right: -44px;
            &::before {
                position: absolute;
                display: block;
                content: '';
                width: 12px;
                height: 20px;
                background: url(../img/skills/btn__right.png) no-repeat;
                z-index: 99;
                top: 19px;
                left: 25px;
            
            }
        }
    }
}
    

