.skills {
    margin-top: 129px;
    .section__title {
        margin-bottom: 37px;
    }
    .swiper-wrapper {
        display: flex;
        .swiper-slide {
            flex-direction: column;
            margin: auto;
            width: 100%;
            max-width: 261px;
            height: 300px;
            &__img {
                height: 100%;
                max-height: 110px;
                margin-bottom: 20px;
            }
            &__title {
                font-size: 22px;
                color: #181818;
                margin-top: 10px;
            }
            &__text {
                font-size: 16px;
                color: #4C4C4C;
                margin-top: 19px;
            }
        }
    }
}